#refresh {
    background-image: url("./icon.png");
}

button {
    border: 2px solid cornflowerblue;/*自动模式按钮边框*/
    font-weight: 300;
    background-size: auto 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    width: 3em;
    height: 1.5em;
    border-radius: 0.3em;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #f0f0f022;
}

/* 进度条主体 */
#container {
    width: 100%;
    /*进度条宽度*/
    height: 10px;
    /*进度条高度*/
    border-radius: 5px;
    /*进度条圆角*/
    background: rgb(233, 215, 199);
    /*进度条背景色（未达到的部分）*/
    align-self: center;
    /* float: left; */
}

#progress {
    width: 0%;
    /*初始值，刷新后由js控制*/
    height: inherit;
    /*请勿修改*/
    border-radius: 25px 0 0 25px;
    background: rgb(255, 123, 0);
    /*进度条已加载部分颜色*/
    align-self: center;
}

/* 黑夜模式下进度条已完成颜色 */
.progress_dark {
    background: rgb(149, 61, 23);
}

/* 黑夜模式下进度条未完成颜色 */
.container_dark {
    background: gray;
}

#percentage {
    text-align: center;
    width: 50px;
    /* flex: right; */
}

#errorInfo {
    color: red;
}

/* 手动模式按钮边框 */
.manualMode {
    border-color: darkred;
    border-style: dashed;
}

.app {
    display: flex;
    justify-content: flex-start;

}